body {
    background-color: #6b6b6b;
    color: #292D3C;
    /* courier new, TREBUCHET! */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    height: 98vh;
    overflow-y: scroll;
}

a {
    color: white;
    text-decoration: underline;
}

    a:hover {
        text-decoration: none;
    }

#top {
    display: flex;
    flex-direction: row;
}

    #nav {
        background: #2D3142;
        width: 49%;
        border: 2px solid white;
        margin-bottom: 3vh;
        margin-right: 1vw;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-bottom: 10px;
        /* box-shadow: 5px 5px 5px black inset; */
    }

        .navlink {
            padding: 0px 8px 0px 8px;
        }

    #choose_project {
        background: yellow;
        flex-grow: 1;
        border: 2px solid white;
        margin-left: 1vw;
        display: flex;
        flex-direction: row;
    }

        #project_text { /* how do i make this stuff justify to center???*/
            flex-grow: 0.75;
            font-size: 25px;
        }

        button {
            flex-grow: 0.25;
        }

#content {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

    #content_top {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

        #credits_screenshot {
            background: teal;
            flex-basis: 50%;
            border: 2px solid white;
            margin-right: 1vw;
        }
        
            #credits_img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                flex-basis: 50%;
            }

            #source_of_credits {
                background: green;
                flex-grow: 1;
                border: 2px solid white;
                display: flex;
                justify-content: center;
                align-content: center;
                overflow: hidden;
            }

                #floating_text { /* why doesnt this display anything?? */
                    background-color: lightblue;
                    border: 2px solid white;
                    border-radius: 20%;
                    margin: 3% 3% 3% 3%;
                    align-content: center;
                    box-shadow: 10px 10px 5px black;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 2% 3% 2% 3%;
                }

                    #creator_link {
                        background: red;
                        flex-grow: 0.1;
                        font-size: larger;
                    }

                    #floating_content {
                        flex-grow: 0.9;
                    }

    #credits_text {
        background: red;
        flex-grow: 1;
    }

