body {
    background-color: #6b6b6b;
    color: #292D3C;
    /* courier new, TREBUCHET! */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow-y: scroll;
}

a {
    color: white;
    text-decoration: underline;
}

    a:hover {
        text-decoration: none;
    }

#top {
    display: flex;
    flex-direction: row;
}

    #nav {
        background: #2D3142;
        width: 49%;
        border: 2px solid white;
        margin-bottom: 3vh;
        margin-right: 1vw;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 0 0 10px 0;
        overflow: hidden;
        /* box-shadow: 5px 5px 5px black inset; */
    }

        .navlink {
            padding: 0px 8px 0px 8px;
        }

    #choose_project {
        background: #4F5D75;
        flex-grow: 1;
        border: 2px solid white;
        border-bottom: 1px;
        margin-left: 1vw;
        display: flex;
        flex-direction: row;
        color: white;
    }

        .project_title { /* how do i make this stuff justify to center???*/
            flex-basis: 65%;
            font-size: 25px;
            display: flex; /* flex display once again carries (this is how i justify to center!) */
            justify-content: center;
        }

        button {
            flex-basis: 17.5%;
            box-shadow: 0px 0px 5px inset grey;
        }

        button:active {
            background-color: lightgrey;
        }

#content {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

    #content_top {
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

        #credits_screenshot {
            background: #4F5D75;
            flex-basis: 50%;
            border: 2px solid white;
            border-bottom: none;
            margin-right: 1vw;
            height: 50vh;
        }
        
            .picture {
                height: 100%;
                width: 100%;
                object-fit: cover;
                flex-basis: 50%;
            }

        #source_of_credits {
            background: #BFC0C0;
            flex-basis: 50%;
            flex-grow: 1;
            border: 2px solid white;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-content: center;
            overflow: hidden;
            height: 50vh;
        }

            .creator_content {
                overflow: scroll;
                margin: 2% 3% 1.5% 3%;
                border-radius: 5%;
            }

            .floating_text {
                background-color: grey;
                border: 2px solid white;
                border-radius: 20%;
                margin: 3% 3% 3% 3%;
                align-content: center;
                box-shadow: 10px 10px 5px black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2% 4% 4% 4%;
                color: white;
                flex-grow: 1;


            }

                .title {
                    flex-grow: 0.1;
                    font-size: larger;

                }

                .content {
                    flex-grow: 0.9;
                    overflow: scroll;
                    border-radius: 5%;
                }

    #credits {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        border-top: 2px solid white;
        height: 30vh;
    }

        #credits_links {
            flex-basis: 45%;
            display: flex;
            justify-content: center;
            background: #2D3142;
            border: 2px solid white;
            border-top: none;
            border-right: none;
        }

        #credits_text {
            flex-basis: 55%;
            flex-grow: 1;
            background-color: #2D3142;
            display: flex;
            justify-content: center;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
        }

        .credits {
            text-align: left;
        }

        .bottom {
            background-color: #4F5D75;
        }

li {
    margin: 3% 0 3% 0;
}

.hide {
    display: none;
}

/* responsive rules!! */
@media screen and (max-width: 887px) {
    #nav {
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    #top {
        flex-direction: column;
    }

        #nav {
            font-size: 25px;
            height: 10vh;
            flex-wrap: wrap;
            margin-right: 0;
            width: 99.49%;
        }

        #choose_project {
            margin-left: 0;
        }

}

@media screen and (max-width: 450px) {
    
    #content_top {
        flex-direction: column;
        height: 90vh;
    }

        #credits_screenshot {
            margin-right: 0;
        }

    #source_of_credits {
        height: 40vh;
    }

    #credits {
        flex-direction: column;
         height: 90vh;
    }

        #credits_links {
            height: 45vh;
        }

        #credits_text {
            height: 45vh;
        }
}