body {
    background-color: #6b6b6b;
    color: #292D3C;
    /* courier new, TREBUCHET! */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    height: 98vh;
}

.nav_button {
    width: 50%;
    height: 100%;
}

select {
    background-color: #BFC0C0;
    color: white;

}

#left {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
}

    #left1 {
        background-color: #2D3142;
        margin-bottom: 1vw;
        border: 2px solid white;
        border-right: none;
        color: white;
        text-align: right;
        font-size: 25px;
        padding-right: 1vw;
        padding-top: 1vh;
    }

    #left2 {
        margin-top: 1vw;
        border: 2px solid white;
        display: grid;
        grid-template-rows: 0.2fr 0.8fr;
    }

        #left2a {
            background-color: #D0D0D0;
        }

        #left2b {
            background-color: #D0D0D0;
        }

#mid {
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 0.3fr;
}

    #mid1 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
    }

        #mid1a {
            display: grid;
            grid-template-rows: 0.5fr 0.5fr;
        }

            #mid1ai {
                background-color: #2D3142;
                margin-right: 1vw;
                margin-bottom: 1vw;
                border: 2px solid white;
                border-left: none;
                color: white;
                text-align: left;
                font-size: 25px;
                padding-top: 1vh;
            }

            #mid1aii {
                background-color: purple;
                margin-left: 1vw;
                margin-right: 1vw;
                margin-top: 1vw;
                border: 2px solid white;
                border-bottom: 0;
                color: white;
            }

                #project_title {
                    width: 100%;
                    height: 100%;
                    font-size: larger;
                    padding-left: 5%;
                }

        #mid1b {
            background-color: #2D3142;
            color: white;
            margin-left: 1vw;
            margin-bottom: 1vw;
            border: 2px solid white;
            border-right: none;
            display: grid;
            grid-template-columns: 0.6fr 0.4fr;
        }

            #mid1bi {
                margin: auto;
            }

            #mid1bii {
                margin: 5px 5px 5px 5px;
                align-content: center;
                display: inline-flex;
            }

    #mid2 {
        background-color: rgb(0, 255, 255);
        margin: 0 1vw 1vw 1vw;
        border: 2px solid white;
        display: grid;
        grid-template-rows: 0.8fr 0.2fr;
        overflow: hidden;
    }

        #mid2a {
            overflow: hidden;
            border-bottom: 2px solid white;
        }

            #project_img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        #mid2b{
            display: grid;
            grid-template-columns: 0.8fr 0.2fr;
        }

            #mid2bi {
                border-right: 2px solid white;
                text-align: center;
                background-color: #2D3142;
                color: white;
            }

            #mid2bii {
                display: inline-flex;
                align-content: center;
            }

    #mid3 {
        background-color: #BFC0C0;
        margin-right: 1vw;
        border: 2px solid white;
        border-left: none;
    }

#right {
    background-color: #4F5D75;
    color: white;
    border: 2px solid white;
}